<div class="container">
    <div class="h3"> Woops, looks like you are not allowed to access this page.</div>
    <div>You can log out and <a asp-controller="Gallery" asp-action="Logout">log in</a> to an another account.</div>
</div>